/* * {
   outline: 1px solid red !important;
} 
*/
body {
  background-color: rgb(19, 21, 22);
  
  color: rgb(195, 190, 182);
  margin :5% 20% 0% 20%;
  /* google fonts font specs */
  font-family: 'Roboto', sans-serif;
}

img{
    padding: 5%;
}
/* google fonts font specs */
font-family: 'Roboto', sans-serif;

.fullPage {
    padding-right:200px;
    padding-left:200px;
}

.sectorMid{
  padding-top: 50px;
  padding-bottom: 10px;
}
 
}
.title{
	background-color: #33BEBE;
}
.content {
    display: -webkit-flex;
    display: flex;
}

.foot{ 
    background-color: rgb(58,58,58);
}
.image{
	max-width: 460px ;
}
.description{
	max-width: 740px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 