 * {
   outline: 1px solid red !important;
}

body {
  background-color: rgb(19, 21, 22);
  margin-top: 10px;
  color: rgb(195, 190, 182);
}
/* google fonts font specs */
/*font-family: 'Roboto', sans-serif;*/
/*p{
    color: rgb(195, 190, 182);
}
h1{
    color: rgb(195, 190, 182);
}
h2{
    color: rgb(195, 190, 182);
}
h4{
    color: rgb(195, 190, 182);
}
*/

div {
    padding-right:200px;
    padding-left:200px;
}

.sectorMid{
  padding-top: 50px;
  padding-bottom: 10px;
}
}
.title{
	background-color: #33BEBE;
}
.content {
    display: -webkit-flex;
    display: flex;
}

.foot{ 
    background-color: rgb(58,58,58);
}
.image{
	max-width: 460px ;
}
.description{
	max-width: 740px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 